/* reset */
* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}

body {
    display: flex;
    background-color: #594cee;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}


/* container */
#container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
}


/* headers */
#header-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: stretch;
    min-height: 150px;
    flex-grow: 1;
}

#header-city-info {
    position: relative;
    padding: 1rem;
    padding-bottom: 1.2rem;
    flex: 1 100%;
    color: #fff;
    filter: sepia(50%);
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

#header-city-info-container {
    display: block;
}

#header-city-info h1 {
    position: relative;
}

#header-temps-info-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
}


#header-city-info img.icon {
    display: block;
    position: absolute;
    left: 11em;
    bottom: -0.7em;
    height: 7.7em;
    width: auto;
}


.temp-text {
    font-size: 3em;
}


.temp-number {
    font-size: 4em;
}

.temp-text2 {
    font-size: 2.5em;
}

.temp-number2 {
    font-size: 3.5em;
}

.temp-text3 {
    font-size: 2em;
}

.temp-number3 {
    font-size: 3em;
}







/* content */
.forecast-info {
    border-top: 1px solid rgba(68, 68, 68, 0.5);
    border-bottom: 1px solid rgba(68, 68, 68, 0.5);
    background-color: #6254ff;
    display: flex;
    flex-grow: 1;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

.forecast-card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #5c54edf8;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    color: #fff;
    flex: 1;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    align-items: center;
    text-align: center;
    max-width: 300px;
    background-repeat: no-repeat;
    background-position: 80px 205px;
    background-size: 300px;
    min-width: 200px;
    max-width: 200px;
    min-height: 300px;
    justify-content: flex-start;
}

.card-item {
    position: relative;
}

.card-item {
    width: auto;
    height: auto;
}


p.forecast-date {
    font-size: 2.5em;
}

p.forecast-day {
    font-size: 1.5em;
    padding-bottom: 1em;
}

span.card-temps-text {
    font-size: 1.3em;
}

span.card-temp {
    font-size: 1.6em;
}

.card-temp-description {
    font-size: 20px;
    padding-top: 1em;
}

.card-icon {
    display: block;
    height: 15em;
}




/* hide */
.hide {
    display: none !important;
}

#city-name-mobile {
    display: none;
}

#header-temps-info-mobile {
    display: none;
}

#header-temps-info-full {
    display: block;
}

#arrow {
    display: none;
}



/* footer */
footer {
    background-color: #594cee;
}

.footer a {
    text-decoration: none;
    color: #8dd0f5;
    font-weight: bold;
}

.footer {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1em;
    color: #8dd0f5;
}

footer i {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-size: 2.5em;
}



/* loader */
#loader {
    display: flex;
    min-width: 50vw;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
}

#loading {
    display: flex;
    flex-flow: row;
    width: 200px;
    color: #fff;
    align-items: center;
    justify-content: center;
}

#loading-icon img {
    height: 4em;
    animation: 4s rotate linear infinite;
}

#loading-text {
    font-size: 2em;
}

@keyframes rotate {
    to {transform: rotate(360deg)}
}



/* responsive */
@media (max-width: 1061px) {
    .temp-text {
        font-size: 2.5em;
    }

    .temp-number {
        font-size: 3em;
    }
    
    .temp-text2 {
        font-size: 1.5em;
    }
    
    .temp-number2 {
        font-size: 2.5em;
    }
    
    .temp-text3 {
        font-size: 1em;
    }
    
    .temp-number3 {
        font-size: 2em;
    }
}

@media (max-width: 866px) {
    .temp-text {
        font-size: 2.2em;
    }

    .temp-number {
        font-size: 2.5em;
    }
    
    .temp-text2 {
        font-size: 1em;
    }
    
    .temp-number2 {
        font-size: 2em;
    }
    
    .temp-text3 {
        font-size: 1em;
    }
    
    .temp-number3 {
        font-size: 1.5em;
    }
}

@media (max-width: 776px) {
    .temp-text {
        font-size: 1.8em;
    }

    .temp-number {
        font-size: 2em;
    }
    
    .temp-text2 {
        font-size: 1em;
    }
    
    .temp-number2 {
        font-size: 1.5em;
    }
    
    .temp-text3 {
        font-size: 1em;
    }
    
    .temp-number3 {
        font-size: 1.2em;
    }
}

@media (max-width: 756px) {
    .temp-text {
        font-size: 1.3em;
    }

    .temp-number {
        font-size: 1.5em;
    }
    
    .temp-text2 {
        font-size: 1em;
    }
    
    .temp-number2 {
        font-size: 1.3em;
    }
    
    .temp-text3 {
        font-size: 1em;
    }
    
    .temp-number3 {
        font-size: 1.3em;
    }
}

@media (max-width: 650px) {
    #header-container {
        min-height: 290px;
    }

    #header-temps-info-mobile {
        display: block;
        padding-top: 3em;
        padding-bottom: 1em;
        font-size: 1.3em;
        font-weight: bold;
    }

    #header-city-info img.icon {
        position: absolute;
        left: 17em;
        bottom: 1.5em;
        height: 16em;
        width: auto;
    }

    #city-name-mobile {
        display: block !important;
    }

    #header-temps-info-full {
        display: none;
    }
}

@media (max-width: 532px) {
    #header-container {
        min-height: 290px;
    }

    #header-city-info img.icon {
        position: absolute;
        left: 11em;
        bottom: 3em;
        height: 11em;
        width: auto;
    }

    #header-temps-info-mobile {
        display: block;
        padding-top: 3em;
        padding-bottom: 1em;
        font-size: 1.3em;
        font-weight: bold;
    }

    #city-name-mobile {
        display: block !important;
    }

    #arrow{
        display: block;
        position: absolute;
        filter: brightness(200%);
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 13.4em;
        z-index: 10000;
        height: 10em;
    }

    .forecast-info {
        flex-flow: column;
        justify-content: left;
    }

    p.forecast-date {
        padding-bottom: 0.5em;
    }

    .forecast-card {
        margin: 0;
        padding: 0;
        border-radius: 0;
        flex-direction: row;
        text-align: left;
        min-height: auto;
        min-width: 100%;
        box-shadow: none;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        background-image: none !important;
        justify-content: center;
        overflow:hidden
    }

    .forecast-card img.card-icon {
        position: relative;
        height: 8rem;
    }

    .card-text {
        padding-left: 2em;
        flex: 1;
    }

    .card-temp-description {
        font-size: 1em;
    }

    .card-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 0.5em;
    }

    #header-temps-info-full {
        display: none;
    }
}



@media (max-width: 360px) {
    #header-city-info img.icon {
        position: absolute;
        left: 10em;
        bottom: 4em;
        height: 11.7em;
        width: auto;
    }
}

@media (max-width: 280px) {
    #header-city-info img.icon {
        position: absolute;
        left: 10.5em !important;
        bottom: 7em !important;
        height: 7.5em !important;
        width: auto;
    }

    #header-city-info img.icon {
        position: absolute;
        left: 8em;
        bottom: 3em;
        height: 10em;
        width: auto;
    }

    #header-temps-info-mobile {
        font-size: 1em;
        font-weight: normal;
    }

    p.forecast-date {
        font-size: 2.5em;
    }
    
    p.forecast-day {
        font-size: 1.5em;
        padding-bottom: 1em;
    }
    
    span.card-temps-text {
        font-size: 1em;
    }
    
    span.card-temp {
        font-size: 1em;
    }

    .card-text {
        padding-left: 1em;
    }

    .card-icon img{
        height: 7em !important;
    }
}
